// colors
$clr-primary-500: #74C69D;

$clr-neutral-0: #FFFFFF;
$clr-neutral-200: #EEEEEE;
$clr-neutral-400: rgba(33,37,41,0.5);
$clr-neutral-600: rgba(33,37,41,0.75);
$clr-neutral-900: #212529;
$clr-neutral-1000: #000000;

// font
$ff-crimson-text : 'Crimson Text', serif;
$ff-work-sans: 'Work Sans', sans-serif;

$weights: (
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700
)